<a href="https://colab.research.google.com/github/younzk/rookie-projects/blob/main/4.1%20Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.1 Pandas - DataFrame

## 데이터 프레임 생성

(1) 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비한다.

(2) 이 각각의 열에 대한 이름(라벨)을 키로 가지는 딕셔너리를 만든다.

(3) 이 데이터를 DataFrame 클래스 생성자에 넣는다. 동시에 열방향 인덱스는 columns 인수로, 행방향 인덱스는 index 인수로 지정한다.

In [ ]:
import pandas as pd
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] #열의 이름
index = ["서울", "부산", "인천", "대구"] #행방향 인덱스
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [ ]:
#데이터만 접근하기 : value 속성 사용
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [ ]:
#열방향 인덱스 : columns 사용
#행방향 인덱스 : index 사용

df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [ ]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
#열방향 인덱스와 행방향 인덱스에 이름 붙이기
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

## 열 데이터 갱신, 추가, 삭제
- 추가 : df[추가할 열] = 데이터
- 삭제 : del[삭제할 열]

In [ ]:
#2010-2015 증가율 열의 데이터 갱신
df["2010-2015 증가율"] = df["2010-2015 증가율"]*100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [ ]:
#2005-2010 증가율이라는 열 추가
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"]*100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [ ]:
#2010-2015 증가율이라는 이름의 열 삭제
del df["2010-2015 증가율"]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

## 열 인덱싱
- 열 라벨(column label)을 넣어 인덱싱
- 라벨 1개만 넣으면 시리즈 객체 반환
- 라벨의 배열 또는 리스트를 넣으면 데이터프레임 반환

In [ ]:
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [ ]:
df[["2010", "2015"]] #여러개의 열 인덱싱 가능

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [ ]:
df[["2010"]]
type(df[["2010"]]) #하나의 열을 데이터프레임에 넣어 반환

pandas.core.frame.DataFrame

In [ ]:
df["2010"] #하나의 열 반환하면서 시리즈 자료형으로 변환

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [ ]:
df[["2010"]] #리스트로 인덱싱하면 하나의 열만 반환하면서 데이터프레임 자료형 유지

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

## 행 인덱싱 방법
 - 인덱스(loc)
 - 행번호(iloc)
 - 슬라이싱

#✨행단위 데이터 추출 : 인덱스/ 행 번호 사용
### - loc속성 = 인덱스기준 : 행 맨 앞에 있는 숫자, 언제든지 변할 수 있고 숫자가 아닌 문자열을 사용할 수도 있다. 
  (e.g. : first, second, third와 같은 문자열로도 지정 가능)
### - iloc속성 = 행 번호 : 정수만으로 데어터를 조회하거나 추출 가능, 실제 데이터프레임에서는 확인할 수 없음

In [ ]:
df.loc["부산"]

특성
지역                   경상권
2015             3448737
2010             3393191
2005             3512547
2000             3655437
2005-2010 증가율       -3.4
Name: 부산, dtype: object

##iloc 속성으로 행 데이터 추출 
 print(df.iloc[행번호])
   숫자(정수형)만 가능

In [ ]:
df.iloc[1]

특성
지역                   경상권
2015             3448737
2010             3393191
2005             3512547
2000             3655437
2005-2010 증가율       -3.4
Name: 부산, dtype: object

In [ ]:
df.iloc[[0, 2, 3]] #여러 행을 출력하려면 데이터의 인덱스, 행번호를 리스트에 담아 출력

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

## 슬라이싱으로 행 데이터 추출

In [ ]:
df[:1]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [ ]:
df.head(5) #위에서부터 5개의 행만 출력

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [ ]:
df.head(3) #위에서부터 3개의 행만 출력

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54

In [ ]:
df[1:3]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54

In [ ]:
df["서울":"부산"] #인덱스 값이 문자 라벨이면 문자로도 슬라이싱 가능

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40

## 개별 데이터 인덱싱 (행과 열을 모두 만족하는 값)

In [ ]:
df["2015"]["서울"] #열라벨로 인덱싱 후 행으로 다시 인덱싱

9904312

In [ ]:
try:
  df["서울"]["2015"] 
except KeyError:
  print("KeyError")
#행라벨 인덱싱 후 열라벨로는 순서 바꿀 수 없다. 키에러 발생

KeyError

#✨행, 열 같이 데이터 추출하기
### - 슬라이싱 구문 : df.loc[시작하는 인덱스 : 끝나는 인덱스, ['열이름']]
  (e.g. : df.loc[0:3, ['서울', '경기'], df.iloc[0:3, [0, 2]) #iloc는 정수형만 가능
### - range 구문 : iloc에서 행번호를 range로 나타내는 방법

💖슬라이싱 구문 활용도가 더 높고, 데이터가 많을 경우 행번호보다는 인덱스를 활용한 loc를 더 많이 사용한다.

In [ ]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')

In [ ]:
data = df.loc["서울", ["2010", "2005"]]
print(data)

특성
2010    9631482
2005    9762546
Name: 서울, dtype: object

## 연습문제 4.1.3

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df2 = pd.DataFrame(data, index=index, columns=columns)
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [ ]:
#(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df2["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [ ]:
#(2) 모든 학생의 국어와 영어 점수를 데이터프레임으로 나타낸다.
df2[["국어", "영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [ ]:
#(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df2["평균"] = (df2["국어"] + df2["수학"] + df2["영어"]) / len(df2.columns)
df2

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [ ]:
#(4) 방자의 영어 점수를 80점으로 수정하고 평균점수도 다시 계산한다.
df2["영어"]["방자"] = 80
df2["평균"] = (df2["국어"] + df2["수학"] + df2["영어"]) / len(df2.columns)
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    국어  영어  수학    평균
춘향  80  90  90  65.0
몽룡  90  70  60  55.0
향단  70  60  80  52.5
방자  30  80  70  45.0

In [ ]:
#(5) 춘향의 점수를 데이터프레임으로 나타낸다.
df2.loc[["춘향"]]

    국어  영어  수학    평균
춘향  80  90  90  65.0

In [ ]:
#(6) 향단의 점수를 시리즈로 나타낸다.
df2.loc["향단"]

국어    70.0
영어    60.0
수학    80.0
평균    52.5
Name: 향단, dtype: float64