<a href="https://colab.research.google.com/github/younzk/rookie-projects/blob/main/4.6%20Handling_DataFrame_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.6 Handling DataFrame Index

## 데이터 프레임 인덱스 설정 및 제거
- 일반 데이터 열과 인덱스를 교환 또는 새로운 인덱스를 만들어 보기
- set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정
- reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가
 * drop = True 인수를 사용하면 기존 인덱스를 삭제

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'), 
                              np.round(np.random.rand(3, 5), 2)]).T,
                             columns = ["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [ ]:
df2 = df1.set_index("C1") #C1열을 인덱스로 설정, 기존 인덱스는 삭제
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [ ]:
df2.set_index("C2") #C2열을 인덱스로 설정, 기존 인덱스는 삭제

        C3    C4
C2
0.55  0.65  0.79
0.72  0.44  0.53
0.6   0.89  0.57
0.54  0.96  0.93
0.42  0.38  0.07

In [ ]:
df2.reset_index() #그 전에 인덱스였던 C1, C2가 다시 일반 자료열로 들어옴

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [ ]:
df2.reset_index(drop = True) #drop = True 인수를 사용하면 인덱스 열이 버려지게 됨

     C2    C3    C4
0  0.55  0.65  0.79
1  0.72  0.44  0.53
2   0.6  0.89  0.57
3  0.54  0.96  0.93
4  0.42  0.38  0.07

##Practice 4. 5. 1
5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다.  
reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 set_index 명령을 적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.

In [ ]:
df_score1 = pd.DataFrame({
   "국어" : [90, 70, 95, 85, 100],
   "수학" : [80, 70, 85, 75, 90],
   "영어" : [95, 85, 80, 90, 100]
}, index =["A", "B", "C", "D", "E"])
df_score1

    국어  수학   영어
A   90  80   95
B   70  70   85
C   95  85   80
D   85  75   90
E  100  90  100

In [ ]:
df_score2 = df_score1.reset_index()
df_score2

  index   국어  수학   영어
0     A   90  80   95
1     B   70  70   85
2     C   95  85   80
3     D   85  75   90
4     E  100  90  100

##Multi-inddex(다중인덱스)
- 인덱스 형태에 리스트의 리스트(행렬) 형태로 인덱스를 넣으면 다중 인덱스를 가진다.
1) 다중 열 인덱스
- 다중 열 인덱스의 이름 지정하기
 * df.columns.names = ["인덱스 이름"]

 2) 다중 행 인덱스
 - 다중 행 인덱스의 이름 지정하기
  * df.index.names = ["인덱스 이름"]

### 다중 열 인덱스

In [ ]:
np.random.seed(0)
df3 = pd.DataFrame(np.round(np.random.rand(5, 4), 2),
                   columns = [["A", "A", "B", "B"],
                              ["C1", "C2", "C1", "C2"]])
df3

      A           B
     C1    C2    C1    C2
0  0.55  0.72  0.60  0.54
1  0.42  0.65  0.44  0.89
2  0.96  0.38  0.79  0.53
3  0.57  0.93  0.07  0.09
4  0.02  0.83  0.78  0.87

In [ ]:
df3.columns.names = ["Cidx1", "Cidx2"] #다중 열 인덱스의 이름 붙이기
df3

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      0.55  0.72  0.60  0.54
1      0.42  0.65  0.44  0.89
2      0.96  0.38  0.79  0.53
3      0.57  0.93  0.07  0.09
4      0.02  0.83  0.78  0.87

### 다중 행 인덱스

In [ ]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

##행 인덱스와 열 인덱스 교환 : stack, unstack
- stack : 열 인덱스 -> 행 인덱스
- unstack " 행 인덱스 -> 열 인덱스
- 인덱스를 지정할 때는 문자열 이름과 순서를 표시하는 숫자 인덱스 모두 사용 가능

In [ ]:
df4.stack("Cidx1") #Cidx1 인덱스 ("A", "B")가 행 인덱스로 감

Cidx2                 C     D
Ridx1 Ridx2 Cidx1
M     id_1  A      1.76  0.40
            B      0.98  2.24
      id_2  A      1.87 -0.98
            B      0.95 -0.15
      id_3  A     -0.10  0.41
            B      0.14  1.45
F     id_1  A      0.76  0.12
            B      0.44  0.33
      id_2  A      1.49 -0.21
            B      0.31 -0.85
      id_3  A     -2.55  0.65
            B      0.86 -0.74

In [ ]:
df4.stack(1) #df4.columns.names = ["Cidx1", "Cidx2"] 여기서 2번째 있는 Cidx2가 행인덱스로 교환

Cidx1                 A     B
Ridx1 Ridx2 Cidx2
M     id_1  C      1.76  0.98
            D      0.40  2.24
      id_2  C      1.87  0.95
            D     -0.98 -0.15
      id_3  C     -0.10  0.14
            D      0.41  1.45
F     id_1  C      0.76  0.44
            D      0.12  0.33
      id_2  C      1.49  0.31
            D     -0.21 -0.85
      id_3  C     -2.55  0.86
            D      0.65 -0.74

In [ ]:
df4.unstack("Ridx2") #Ridx2가 열 인덱스로 교환

Cidx1     A                                   B
Cidx2     C                 D                 C                 D
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F      0.76  1.49 -2.55  0.12 -0.21  0.65  0.44  0.31  0.86  0.33 -0.85 -0.74
M      1.76  1.87 -0.10  0.40 -0.98  0.41  0.98  0.95  0.14  2.24 -0.15  1.45

In [ ]:
df4.unstack(0) #df4.index.names = ["Ridx1", "Ridx2"] 에서 첫번째였던 Ridx1이 열 인덱스로 교환

Cidx1     A                       B
Cidx2     C           D           C           D
Ridx1     F     M     F     M     F     M     F     M
Ridx2
id_1   0.76  1.76  0.12  0.40  0.44  0.98  0.33  2.24
id_2   1.49  1.87 -0.21 -0.98  0.31  0.95 -0.85 -0.15
id_3  -2.55 -0.10  0.65  0.41  0.86  0.14 -0.74  1.45

##다중 인덱스가 있는 경우의 인덱싱 : 행, 열 모두 ()로 둘러싸인 튜플로 지정
- df[("인덱스", "인덱스")]
- df.loc[("인덱스", "인덱스")]

* iloc의 경우는 튜플로 사용하지 않음
 - df.iloc[0, 2]

In [ ]:
df3

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      0.55  0.72  0.60  0.54
1      0.42  0.65  0.44  0.89
2      0.96  0.38  0.79  0.53
3      0.57  0.93  0.07  0.09
4      0.02  0.83  0.78  0.87

In [ ]:
df3[("B", "C1")] #B인덱스의 C1인덱스의 자료

0    0.60
1    0.44
2    0.79
3    0.07
4    0.78
Name: (B, C1), dtype: float64

In [ ]:
df3.loc[0, ("B", "C1")] #0행의 B인덱스의 C1 인덱스의 자료

0.6

In [ ]:
df3.loc[0, ("B", "C1")] = 100 #0행의 B인덱스의 C1 인덱스의 자료를 100으로 지정
df3

Cidx1     A             B
Cidx2    C1    C2      C1    C2
0      0.55  0.72  100.00  0.54
1      0.42  0.65    0.44  0.89
2      0.96  0.38    0.79  0.53
3      0.57  0.93    0.07  0.09
4      0.02  0.83    0.78  0.87

In [ ]:
df3.iloc[0, 2]

100.0

In [ ]:
df3['A'] #하나의 레벨 값만 넣으면 다중 인덱스 중 가장 상위의 값을 지정한 것

Cidx2    C1    C2
0      0.55  0.72
1      0.42  0.65
2      0.96  0.38
3      0.57  0.93
4      0.02  0.83

In [ ]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [ ]:
df4.loc[("M", "id_1"), ("A", "C")]

1.76

In [ ]:
df4.loc[:, ("A", "C")]

Ridx1  Ridx2
M      id_1     1.76
       id_2     1.87
       id_3    -0.10
F      id_1     0.76
       id_2     1.49
       id_3    -2.55
Name: (A, C), dtype: float64

In [ ]:
df4.loc[("All", "All"), :] = df4.sum()
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [ ]:
df4.loc["M"] #행 인덱스에서도 하나의 레벨 값만 넣으면 다중 인덱스 중 가장 상위의 값을 지정한 것

Cidx1     A           B
Cidx2     C     D     C     D
Ridx2
id_1   1.76  0.40  0.98  2.24
id_2   1.87 -0.98  0.95 -0.15
id_3  -0.10  0.41  0.14  1.45

특정 레벨의 모든 인덱스 값을 인덱싱할 때는 슬라이스를 이용한다.  
다만 다중 인덱스의 튜플 내에서는 : 슬라이스 기호를 사용할 수 없고 대신 slice(None)을 사용한다.

In [ ]:
df4.loc[("M", slice(None)), :]

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45

In [ ]:
df4.loc[(slice(None), "id_1"), :]

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
F     id_1   0.76  0.12  0.44  0.33

##다중 인덱스의 인덱스 순서 교환 : swaplevel
- swaplevel(i, j, axis)
- i , j : 교환하고자 하는 인덱스 라벨
- axis = 0 : 행 인덱스
- axis = 1 : 열 인덱스

In [ ]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [ ]:
df5 = df4.swaplevel("Ridx1", "Ridx2")
df5

Cidx1           A           B
Cidx2           C     D     C     D
Ridx2 Ridx1
id_1  M      1.76  0.40  0.98  2.24
id_2  M      1.87 -0.98  0.95 -0.15
id_3  M     -0.10  0.41  0.14  1.45
id_1  F      0.76  0.12  0.44  0.33
id_2  F      1.49 -0.21  0.31 -0.85
id_3  F     -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

In [ ]:
df6 = df5.swaplevel("Cidx1", "Cidx2", 1)
df6

Cidx2           C     D     C     D
Cidx1           A     A     B     B
Ridx2 Ridx1
id_1  M      1.76  0.40  0.98  2.24
id_2  M      1.87 -0.98  0.95 -0.15
id_3  M     -0.10  0.41  0.14  1.45
id_1  F      0.76  0.12  0.44  0.33
id_2  F      1.49 -0.21  0.31 -0.85
id_3  F     -2.55  0.65  0.86 -0.74
All   All    3.23  0.39  3.68  2.28

##다중 인덱스가 있는 경우의 정렬 : sort_index 사용
- df.sort_index(level = ) 
- level 인수를 사용하여 어떤 인덱스를 기준으로 정렬하는지 알려준다.

In [ ]:
df5.sort_index(level = 0)

Cidx1           A           B
Cidx2           C     D     C     D
Ridx2 Ridx1
All   All    3.23  0.39  3.68  2.28
id_1  F      0.76  0.12  0.44  0.33
      M      1.76  0.40  0.98  2.24
id_2  F      1.49 -0.21  0.31 -0.85
      M      1.87 -0.98  0.95 -0.15
id_3  F     -2.55  0.65  0.86 -0.74
      M     -0.10  0.41  0.14  1.45

In [ ]:
df6.sort_index(axis = 1, level = 0)

Cidx2           C           D
Cidx1           A     B     A     B
Ridx2 Ridx1
id_1  M      1.76  0.98  0.40  2.24
id_2  M      1.87  0.95 -0.98 -0.15
id_3  M     -0.10  0.14  0.41  1.45
id_1  F      0.76  0.44  0.12  0.33
id_2  F      1.49  0.31 -0.21 -0.85
id_3  F     -2.55  0.86  0.65 -0.74
All   All    3.23  3.68  0.39  2.28

##Practice Test 4. 5. 2
A 반 학생 5명과 B반 학생 5명의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

1. “반”, “번호”, “국어”, “영어”, “수학” 을 열로 가지는 데이터프레임 df_score3을 만든다.

2. df_score3을 변형하여 1차 행 인덱스로 “반”을 2차 행 인덱스로 “번호”을 가지는 데이터프레임 df_score4을 만든다.

3. 데이터 프레임 df_score4에 각 학생의 평균을 나타내는 행을 오른쪽에 추가한다.

4. df_score3을 변형하여 행 인덱스로 “번호”를, 1차 열 인덱스로 “국어”, “영어”, “수학”을, 2차 열 인덱스로 “반”을 가지는 데이터프레임 df_score5을 만든다.

5. 데이터 프레임 df_score5에 각 반별 각 과목의 평균을 나타내는 행을 아래에 추가한다.

In [ ]:
b = np.random.randint(80, 100, size = (3, 10))
b

array([[82, 80, 80, 84, 85, 86, 88, 97, 95, 84],
       [89, 90, 81, 81, 87, 89, 83, 86, 91, 94],
       [98, 80, 94, 83, 92, 90, 91, 84, 86, 84]])

In [ ]:
df_score3= pd.DataFrame(np.vstack([list('AAAAABBBBB'), 
                                   list('1234512345'), 
                           b]).T, 
                columns = ["반", "번호", "국어", "영어", "수학"])
df_score3

   반 번호  국어  영어  수학
0  A  1  82  89  98
1  A  2  80  90  80
2  A  3  80  81  94
3  A  4  84  81  83
4  A  5  85  87  92
5  B  1  86  89  90
6  B  2  88  83  91
7  B  3  97  86  84
8  B  4  95  91  86
9  B  5  84  94  84

In [ ]:
df_score4 = df_score3.set_index("반")
df_score4 = df_score4.set_index("번호")
df_score4

    국어  영어  수학
번호
1   82  89  98
2   80  90  80
3   80  81  94
4   84  81  83
5   85  87  92
1   86  89  90
2   88  83  91
3   97  86  84
4   95  91  86
5   84  94  84

In [ ]:
df_score4 = pd.DataFrame(b.T, 
columns = [ "국어", "영어", "수학"],
index = [["A", "A", "A", "A", "A", "B", "B", "B", "B", "B"], ["1", "2", "3", "4", "5", "1", "2", "3", "4", "5"]])

df_score4.index.names = ["반", "번호"]
df_score4

      국어  영어  수학
반 번호
A 1   82  89  98
  2   80  90  80
  3   80  81  94
  4   84  81  83
  5   85  87  92
B 1   86  89  90
  2   88  83  91
  3   97  86  84
  4   95  91  86
  5   84  94  84

In [ ]:
df_score4["sum"] = df_score4.sum(axis = 1)
del df_score4["sum"]
df_score4

      국어  영어  수학
반 번호
A 1   82  89  98
  2   80  90  80
  3   80  81  94
  4   84  81  83
  5   85  87  92
B 1   86  89  90
  2   88  83  91
  3   97  86  84
  4   95  91  86
  5   84  94  84

In [ ]:
df_score4["average"] = round(df_score4.mean(axis = 1)) #행방향 평균 구하기 
df_score4.columns.names = ["과목"]
df_score4

과목    국어  영어  수학  average
반 번호
A 1   82  89  98     90.0
  2   80  90  80     83.0
  3   80  81  94     85.0
  4   84  81  83     83.0
  5   85  87  92     88.0
B 1   86  89  90     88.0
  2   88  83  91     87.0
  3   97  86  84     89.0
  4   95  91  86     91.0
  5   84  94  84     87.0

In [ ]:
df_score5 = df_score4.unstack("반")
df_score5

과목  국어      영어      수학     average
반    A   B   A   B   A   B       A     B
번호
1   82  86  89  89  98  90    90.0  88.0
2   80  88  90  83  80  91    83.0  87.0
3   80  97  81  86  94  84    85.0  89.0
4   84  95  81  91  83  86    83.0  91.0
5   85  84  87  94  92  84    88.0  87.0

In [ ]:
df_score5.loc["average", :] = df_score5.sum()
df_score5

과목          국어            영어            수학        average
반            A      B      A      B      A      B       A      B
번호
1         82.0   86.0   89.0   89.0   98.0   90.0    90.0   88.0
2         80.0   88.0   90.0   83.0   80.0   91.0    83.0   87.0
3         80.0   97.0   81.0   86.0   94.0   84.0    85.0   89.0
4         84.0   95.0   81.0   91.0   83.0   86.0    83.0   91.0
5         85.0   84.0   87.0   94.0   92.0   84.0    88.0   87.0
average  411.0  450.0  428.0  443.0  447.0  435.0   429.0  442.0