<a href="https://colab.research.google.com/github/younzk/rookie-projects/blob/main/4.7%20Merging_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.7 Merging DataFrame

##merge 함수를 이용한 데이터프레임 병합
- merge 함수는 두 데이터프레임의 공통 열 또는 인덱스를 기준으로 두 테이블을 합친다.  
 * pd.merge(df1, df2)
- 기준이 되는 열, 행의 데이터를 키(key)라고 한다.
- 기본적으로 합치려는 데이터프레임에 모두 키가 존재하는 데이터 (inner join방식)만 합쳐진다.
- outer join 방식은 키 값이 한쪽에만 있어도 데이터를 보여준다
- left, right 방식은 각각 첫번째, 또는 두 번째 데이터프레임의 키 값을 모두 보여준다.

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [ ]:
df2 = pd.DataFrame({
    '고객번호' : [1001, 1001, 1005, 1006, 1008, 1001], 
    '금액' : [10000, 20000, 15000, 5000, 10000, 30000]
}, columns = ['고객번호', '금액'])
df2

   고객번호     금액
0  1001  10000
1  1001  20000
2  1005  15000
3  1006   5000
4  1008  10000
5  1001  30000

merge 함수로 위 데이터프레임 df1, df2를 합치면 공통 열인 고객번호 열을 기준으로 두 데이터를 찾아서 합친다.
* 이 때 데이터프레임에 모두 키가 존재하는 데이터만 보여주는 inner join 방식을 사용

In [ ]:
pd.merge(df1, df2)  #또치, 영희는 입력안됨(고객번호가 둘 다 존재하지 않아서)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [ ]:
pd.merge(df1, df2, how='outer')

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN
9  1008  NaN  10000.0

In [ ]:
pd.merge(df1, df2, how = 'left') #왼쪽의 데이터프레임의 키 값을 모두 보여준다.

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

In [ ]:
pd.merge(df1, df2, how = 'right') #오른쪽의 데이터프레임의 키 값을 모두 보여준다.

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1005   희동  15000
3  1006  마이콜   5000
4  1008  NaN  10000
5  1001   둘리  30000

테이블에 키 값이 같은 데이터가 여러 개 있는 경우 있을 수 있는 모든 경우의 수를 따져서 조합을 만든다.

In [ ]:
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df1

          품종  꽃잎길이
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

In [ ]:
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df2

           품종  꽃잎너비
0      setosa   0.4
1   virginica   0.3
2   virginica   0.5
3  versicolor   0.3

In [ ]:
pd.merge(df1, df2) #df1의 virginica (1.5, 1.3)과 df2의 virginica (0.3, 0.5)의 데이터가 조합되어 4개의 virginica가 생긴다.

          품종  꽃잎길이  꽃잎너비
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

만약 이름이 같은 데이터가 기준열이 되면 안될 경우에는 on 인수로 지정한다

In [ ]:
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [ ]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

  고객명 데이터
0  춘향  여자
1  몽룡  남자

위의 df1과 df2에서의 데이터는 다른 의미를 가지므로 기준열이 되면 안된다.

In [ ]:
pd.merge(df1, df2, on = '고객명')

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

반대로 키가 되어야 하는 기준열의 이름이 두 데이터프레임에서 다르다면 left_on, right_on 인수를 사용하여 기준열을 명시한다.

In [ ]:
df1 = pd.DataFrame({
    '이름': ['영희', '철수', '철수'],
    '성적': [1, 2, 3]})
df1

   이름  성적
0  영희   1
1  철수   2
2  철수   3

In [ ]:
df2 = pd.DataFrame({
    '성명': ['영희', '영희', '철수'],
    '성적2': [4, 5, 6]})
df2

   성명  성적2
0  영희    4
1  영희    5
2  철수    6

In [ ]:
pd.merge(df1, df2, left_on='이름', right_on="성명") #df1에서의 이름열이 df2에서의 성명 열과 같으므로 기준열 지정

   이름  성적  성명  성적2
0  영희   1  영희    4
1  영희   1  영희    5
2  철수   2  철수    6
3  철수   3  철수    6

인덱스를 기준열로 사용하기
- left_index또는 right_index의 인수를 True로 설정

In [ ]:
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [9853972, 9762546, 9631482, 3655437, 3512547]})
df1

   도시    연도       인구
0  서울  2000  9853972
1  서울  2005  9762546
2  서울  2010  9631482
3  부산  2000  3655437
4  부산  2005  3512547

In [ ]:
df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

         데이터1  데이터2
부산 2000     0     1
   2005     2     3
서울 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [ ]:
pd.merge(df1, df2, left_on = ['도시', '연도'], right_index = True)

   도시    연도       인구  데이터1  데이터2
0  서울  2000  9853972     4     5
1  서울  2005  9762546     6     7
2  서울  2010  9631482     8     9
3  부산  2000  3655437     0     1
4  부산  2005  3512547     2     3

In [ ]:
df1 = pd.DataFrame(
    [[1., 2.], [3., 4.], [5., 6.]],
    index=['a', 'c', 'e'],
    columns=['서울', '부산'])
df1

    서울   부산
a  1.0  2.0
c  3.0  4.0
e  5.0  6.0

In [ ]:
df2 = pd.DataFrame(
    [[7., 8.], [9., 10.], [11., 12.], [13, 14]],
    index=['b', 'c', 'd', 'e'],
    columns=['대구', '광주'])
df2

     대구    광주
b   7.0   8.0
c   9.0  10.0
d  11.0  12.0
e  13.0  14.0

In [ ]:
pd.merge(df1, df2, how='outer', left_index=True, right_index=True)

    서울   부산    대구    광주
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

##join 메서드
- merge 대신 join 사용 가능

In [ ]:
df1.join(df2, how = 'outer')

    서울   부산    대구    광주
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

##Practice Test 4. 6. 1
두 개의 데이터프레임을 만들고 merge 명령으로 합친다. 단 데이터프레임은 다음 조건을 만족해야 한다.

각각 5 x 5 이상의 크기를 가진다.

공통 열을 하나 이상 가진다. 다만 공통 열의 이름은 서로 다르다.

In [ ]:
df1 = pd.DataFrame(np.arange(36).reshape(6, 6), 
                   columns = ["A", "B", "C", "D", "E", "F"],
                   index = ["i", "ii", "iii", "iv", "v", "vi"])
df1

      A   B   C   D   E   F
i     0   1   2   3   4   5
ii    6   7   8   9  10  11
iii  12  13  14  15  16  17
iv   18  19  20  21  22  23
v    24  25  26  27  28  29
vi   30  31  32  33  34  35

In [ ]:
k = np.arange(5, 41).reshape(6, 6)

In [ ]:
df2 =  pd.DataFrame(k)
df2

    0   1   2   3   4   5
0   5   6   7   8   9  10
1  11  12  13  14  15  16
2  17  18  19  20  21  22
3  23  24  25  26  27  28
4  29  30  31  32  33  34
5  35  36  37  38  39  40

In [ ]:
pd.merge(df1, df2, left_on = 'F', right_on = 0)

    A   B   C   D   E   F   0   1   2   3   4   5
0   0   1   2   3   4   5   5   6   7   8   9  10
1   6   7   8   9  10  11  11  12  13  14  15  16
2  12  13  14  15  16  17  17  18  19  20  21  22
3  18  19  20  21  22  23  23  24  25  26  27  28
4  24  25  26  27  28  29  29  30  31  32  33  34
5  30  31  32  33  34  35  35  36  37  38  39  40

##concat 함수를 사용한 데이터 연결

concat함수를 사용하면 기준 열(key column)을 사용하지 않고 단순히 데이터를 연결할 수 있다.
- pd.concat([s1, s2])
- 위/ 아래로 데이터 행을 연결한다. 옆으로 연결하고 싶으면 axis = 1로 인수 설정
- 인덱스 값이 중복될 수 있다.

In [ ]:
s1 = pd.Series([0, 1], index=['A', 'B'])
s2 = pd.Series([2, 3, 4], index=['A', 'B', 'C'])

In [ ]:
s1

A    0
B    1
dtype: int64

In [ ]:
s2

A    2
B    3
C    4
dtype: int64

In [ ]:
pd.concat([s1, s2]) #인덱스도 중복되고 단순히 위 아래 방향으로 데이터 합침

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [ ]:
df1 = pd.DataFrame(
    np.arange(6).reshape(3, 2),
    index=['a', 'b', 'c'],
    columns=['데이터1', '데이터2'])
df1

   데이터1  데이터2
a     0     1
b     2     3
c     4     5

In [ ]:
df2 = pd.DataFrame(
    5 + np.arange(4).reshape(2, 2),
    index=['a', 'c'],
    columns=['데이터3', '데이터4'])
df2

   데이터3  데이터4
a     5     6
c     7     8

In [ ]:
pd.concat([df1, df2], axis = 1)

   데이터1  데이터2  데이터3  데이터4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0

##Practice Test 2
어느 회사의 전반기(1월 ~ 6월) 실적을 나타내는 데이터프레임과 후반기(7월 ~ 12월) 실적을 나타내는 데이터프레임을 만든 뒤 합친다. 실적 정보는 “매출”, “비용”, “이익” 으로 이루어진다. (이익 = 매출 - 비용).

또한 1년간의 총 실적을 마지막 행으로 덧붙인다.

In [ ]:
np.random.seed(0)
df1=pd.DataFrame(np.random.randint(1,15,size=(2,6)),columns=[i for i in range(1,7)],index=['매출','비용'])
df2=pd.DataFrame(np.random.randint(1,20,size=(2,6)),columns=[i for i in range(7,13)],index=['매출','비용'])
df3=pd.concat([df1,df2],axis=1)

In [ ]:
df1

     1   2  3  4   5  6
매출  13   6  1  4  12  4
비용   8  10  4  6   3  5

In [ ]:
df2

    7   8   9   10  11  12
매출   7  13   2   7   8  15
비용  18   6  14   9  10  17

In [ ]:
df3

    1   2   3   4   5   6   7   8   9   10  11  12
매출  13   6   1   4  12   4   7  13   2   7   8  15
비용   8  10   4   6   3   5  18   6  14   9  10  17

In [ ]:
df3.loc["이익"] = df3.apply(lambda x : int(x.loc['매출']) - int(x.loc['비용']))
df3

    1   2   3   4   5   6   7   8   9   10  11  12
매출  13   6   1   4  12   4   7  13   2   7   8  15
비용   8  10   4   6   3   5  18   6  14   9  10  17
이익   5  -4  -3  -2   9  -1 -11   7 -12  -2  -2  -2

In [ ]:
df3["총실적"] = [sum(df3.loc['매출']),sum(df3.loc['비용']),sum(df3.loc['이익'])]

In [ ]:
df3

     1   2  3  4   5  6   7   8   9  10  11  12  총실적
매출  13   6  1  4  12  4   7  13   2   7   8  15   92
비용   8  10  4  6   3  5  18   6  14   9  10  17  110
이익   5  -4 -3 -2   9 -1 -11   7 -12  -2  -2  -2  -18